#bigtitle {
  color: white;
}

.locations {
  background-color: #84222f;
  text-align: center;
}

#info {
  margin-right:15px ;
  margin-left: 15px;
  color: white;
  font-weight: bold;
}


/*

red = #84222f
light shadow = #7C614B

*/
#nexttrain{
  background-color:white;
  border: 1px solid grey;
  margin:2px 0px;
  height: 100%;
  
}
#city {
  height: 100%;
}